body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
}

/* HERO SECTION */
.hero {
    background-color: #1F2937;
    padding: 0 200px 100px 200px;
    position: relative;
}

header {
    margin-bottom: 10px;
    position: relative;
}
nav{
    position: relative;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    text-align: right;
    /* background-color: #333; */
    /* font-family: Arial; */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}



/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    color: #F9FAF8;
    border-bottom: 3px solid #F9FAF8;
}

a.logo:hover{
    border-bottom: none;
}

.logo{
    margin-left: 50%;
}
.navbar a.active {
    color: #F9FAF8;
    border-bottom: 3px solid #F9FAF8;
}

.navbar a.dropdown-active{
    background-color: #3882F6;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    background-color: #1F2937;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #3882F6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-brand {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    /* padding-left: 100px; */
    /* display: inline-block; */
    /* margin-right: 750px; */
    position: absolute;
    right: 250px;
    top: 0; 
    z-index: 9;
}

.navbar-brand-logo {
    width: 50px;
    height: 50px;

}



.nav-item:hover {
    color: #F9FAF8;
    border-bottom: 3px solid #F9FAF8;
}

.hero-text-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.hero-text {
    width: 50%;
    display: inline-block;
    margin-right: 100px;
}

.hero-maintext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

.sign-up-button:hover {
    background-color: rgba(56, 130, 246, 0.6);
    cursor: pointer;
}

.hero-img {
    /* height: 350px;
    width: 350px; */
    width: 30%;
}

/* FEATURES SECTION */
.features {
    text-align: center;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
    gap: 0;
}

.features-container p {
    color: #1F2937;
}

.feature-heading {
    color: #1F2937;
    font-size: 28px;
    font-weight: bold;
    margin: 35px 0;
}

.feature {
    display: inline-block;
    width: 150px;
}

.feature-icon-border {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 100%;
}

.features-icon {
    width: 60%;
}


/* TESTIMONIAL SECTION */
blockquote footer {
    text-align: right;
}

.testimonial {
    background-color: #E5E7EB;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 60px 100px;
}

.author {
    font-style: normal;
    font-size: 1.5vw;
    color: #1F2937;
    font-weight: bold;
}

/* CALL TO ACTION SECTION */
#cta {
    padding: 100px 180px;
    font-size: 20px;
}

.cta-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 30px 10px;
}

.cta-text {
    text-align: left;
    display: inline-block;
    color: #F9FAF8;
    margin: 0;
}

.cta-text p {
    color: #E5E7EB;
}

.cta-text h1,
.cta-text p {
    margin: 0;
    padding: 0;
}

.cta-sign-up-button {
    display: inline-block;
}

.cta-sign-up-button button {
    border: 2px solid #E5E7EB;
}

/*  ABOUT SECTION */
.about {
    text-align: center;
    padding: 50px 350px;
    margin-bottom: 20px;
}

.about-feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}



.about-feature h3 {
    color: #3882F6;
}

.about-feature p {
    color: #1F2937;
}

/* SIGN UP SECTION */
section.sign-up {
    padding: 0 200px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.sign-up header {
    /* margin-top: 25px; */
    margin-bottom: 25px;
}

.sign-up-form {
    text-align: center;
    height: 100vh;
    padding: 150px 30px;
}

.sign-up-form h1 {
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
}

label {
    margin-left: 0;
    padding-left: 0;
    color: #3882F6;
}

input {
    display: block;
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: #D3D3D3;
    border: none;
    color: #1F2937;
    -webkit-transition: 1s;
    transition: 1s;
}



input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #1F2937;
    outline-width: 0px;
}



input[type=email]:focus {
    box-shadow: 0 0 5pt 2pt #1F2937;
    outline-width: 0px;
}

form {
    background-color: #444950;
    padding: 40px;
    margin: 0 auto;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 70%;

}

form button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 8px 32px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    -webkit-transition: 1s;
    transition: 1s;
}

form button:hover {
    background-color: rgba(56, 130, 246, 0.6);
    cursor: pointer;
}

form h2 {
    color: #F9FAF8;
}

::placeholder {
    color: #1F2937;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: #F9FAF8;
    opacity: 0.7;
}

/* FOOTER SECTION */
.footer footer {
    background-color: #1F2937;
    text-align: center;
    padding: 15px 0;
    color: #F9FAF8;
}

.anxiety-container{
    padding: 100px 150px 50px 150px;
    height: auto;
    display: flex;
}

.page-nav{
    width: 20%;
    background-color: #D3D3D3;
    /* border-radius: 15px; */
    /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6); */
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
}
.page-nav-heading{
    color: #3882F6;
    background-color: #1F2937;
    padding: 10px 0;
    margin: 0;
}
.page-nav a{
    text-decoration: none;
    color:#1F2937;
    height: 30px;
    width: 70%;

}
.page-nav a:hover{
    color: #3882F6;
    border-bottom: 2px solid #1F2937;
}

.page-nav a{
    display: block;
    margin: 30px auto;
}


.anxiety-content-container{
    padding: 30px 30px 30px 30px;
    width: 100%;
    color: #1F2937;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    font-size: 18px; /* Increase font size */
    color: #404246;
  }

#myBtn:hover{
    color: #3882F6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .anxiety-container{
        flex-wrap: wrap;
        padding: 100px 30px 50px 30px;

    }
    .anxiety-content-container, .page-nav{
        width: 100%;
        padding: 0;
    }
    .page-nav{
        margin: 10px 0;
    }
    .page-nav a{
        display: inline-block;
        width: auto;
        margin: 10px 5%;
    }
    div.more-symptoms div {
        display: inline-block;
        width: auto;
    }

    .sign-up {
        padding: 0 50px 0 50px !important;
    }
    .navbar-brand{
        right: 100px;
    }
}



@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        width: 100px;
        margin-left: 200px;
    }
}


@media screen and (max-width: 1306px) {
    .hero-text {
        width: 100%;
    }

    .hero-img {
        margin-top: 50px;
        width: 40%;
    }

    .hero {
        padding-left: 100px;
        padding-right: 100px;
    }

    .testimonial,
    #cta {
        padding-right: 50px;
        padding-left: 50px;
    }


}

@media screen and (max-width:538px) {

    .cta-maintext,
    .cta-subtext {
        text-align: center;
    }

    .cta-sign-up-button {
        margin: 0;
    }
    .hero{
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-img{
        width: 50%;
    }
    .navbar-brand{
        right: 80px;
        display: none;
    }
    div.more-symptoms div {
        display: block;
        margin: 0;
    }
    .testimonial {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }